@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
body{
	background: url("../images/cobra-background.png") no-repeat;
	background-color: #f2f2f2;
	background-size: cover;
	width: 100%;
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}
p{
	margin: 0;
}
#cleaner{
	clear: both;
}
#contenedorlogo{
	float: left;
	padding-left: 5%;
	padding-top: 3%;
}
#texto1{
	display: inline;
	color: rgb(45, 45, 45);
	font-weight: 700;
	font-size: 20px;
	line-height: 1.5;
	float: left;
	padding-top: 7%;
	padding-left: 7%;
}
#behance{
	text-decoration: none;
	color: #ddb600;
}
#texto2{
	font-size: 20px;
	color: rgb(45, 45, 45);
	float: right;
	padding-top: 19.2%;
	padding-right: 6.2%;
	width: 40%;
}
#mailto{
	text-decoration: none;
	color: inherit;
}
@media screen (max-width: 380px){
	#acomodacion{
		text-align: center;
		width: 94%;
	}
	#texto1{
		display: inline-block;
		float: none;
		padding-top: 0%;
		padding-left: 0%;
	}
	#acomodacion2{
		text-align: center;
		width: 92%;
	}
}
@media screen (max-width: 430px){
	#contenedorlogo{
		float: none;
		text-align: center;
		padding-left: 0;
		padding-top: 5%;
	}
	#texto1{
		float: none;
		font-size: 20px;
		text-align: center;
		padding-top: 0;
		padding-left: 0;
	}
	#texto2{
		text-align: center;
		float: none;
		font-size: 20px;
		padding-top: 10%;
		padding-bottom: 1%;
		padding-right: 5%;
		padding-left: 5%;
		width: 90%;
	}
	body{
		background-size: auto;
	}
	#invisibleres{
		display: none;
	}
}